pydantic
dotenv
fastapi
uvicorn

supabase
clerk-backend-api
boto3 # AWS S3
celery
redis

# RAG

langchain==1.0.8
langchain-community==0.4.1
langchain-openai==1.0.3
unstructured[all-docs]==0.18.11
langchain-tavily==0.2.13
scrapingbee

ipykernel
ipywidgets

langsmith

ragas